<!DOCTYPE html>
<html lang="es" ng-app="templates">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div>
    <form name="mxPassport">
    <!-- <form action="/data" method="POST" enctype="multipart/form-data">  -->
      <fieldset>
        <h3>Información de pasaporte</h3>
        <div class="formRow">
          <input type="hidden" name="language" id="language" value="spanish" />
          <input type="hidden" name="formName" id="formName" value="mx_passport" />
          <label for="type">Tipo
          <input type="text" ng-model="doc.doctype" name="type" id="type"  />
          </label>
          <label for="issuingCountry">Clave del país de expedición
          <input type="text" ng-model="doc.countryCode" name="issuingCountry" id="issuingCountry"  />
          </label>
          <label for="passportNo">Pasaporte No.
          <input type="text" ng-model="doc.passportNo" name="passportNo" id="passportNo"  />
          </label>
        </div>
        <br/>
        <div class="formRow">
          <label for="surnames" id="surnames_label">Apellidos
          <input type="text" ng-model="doc.surnames" name="surnames" id="surnames"  />
          </label>
        </div>
        <br />
        <div class="formRow">
          <label for="givenNames" id="givenNames_label">Nombres
          <input type="text" ng-model="doc.givenNames" name="givenNames" id="givenNames"  />
          </label>
        </div>
        <br />
        <div class="formRow">
          <label for="nationality" id="nationality_label">Nacionalidad
          <input type="text" ng-model="doc.nationality" name="nationality" id="nationality"  />
          </label>
          <label for="curp" id="curp_label">CURP
          <input type="text" ng-model="doc.curp" name="curp" id="curp"  />
          </label>
        </div>
        <br />
        <div class="formRow">
          <label for="dateOfBirth" id="dateOfBirth_label">Fecha de nacimiento
          <input type="text" ng-model="doc.dob" name="dateOfBirth" id="dateOfBirth"  />
          </label>
        </div>
        <br />
        <div class="formRow">
          <label for="gender" id="gender_label">Sexo
          <input type="text" ng-model="doc.gender" name="gender" id="gender"  />
          </label>
          <label for="placeOfBirth" id="placeOfBirth_label">Lugar de nacimiento
          <input type="text" ng-model="doc.placeOfBirth" name="placeOfBirth" id="placeOfBirth"  />
          </label>
        </div>
        <br />
        <div class="formRow">
          <label for="issueDate" id="issueDate_label">Fecha expedición
          <input type="text" ng-model="doc.issueDate" name="issueDate" id="issueDate"  />
          </label>
          <label for="expirationDate" id="expirationDate_label">Fecha caducidad
          <input type="text" ng-model="doc.expirationDate" name="expirationDate" id="expirationDate"  />
          </label>
        </div>
        <br />
        <div>
          <label for="authority" id="authority_label">Autoridad
          <input type="text" ng-model="doc.authority" name="authority" id="authority"  />
          </label>
          <label for="remarks" id="remarks_label">Observaciones
          <input type="text" ng-model="doc.remarks" name="remarks" id="remarks"  />
          </label>
        </div>
        <br />
        <div>
          <label for="footerInfo1" id="footerInfo1_label">Información al pie de página - primera línea
          <input type="text" ng-model="doc.footer1" name="footerInfo1" id="footerInfo1"  />
          </label>
        </div>
        <br />
        <div>
          <label for="footerInfo2" id="footerInfo2_label">Información al pie de página - segunda línea
          <input type="text" ng-model="doc.footer2" name="footerInfo2" id="footerInfo2"  />
          </label>
        </div>
      </fieldset>
      <input type=submit name="send" value="Solicita" ng-click="addTemplate()" />
      <input type=reset value="Reinicializa" />
    </form>
  </div>

  <script src="../../../lib/angular/angular.js"></script>
  <script src="../../../lib/angular-route/angular-route.js"></script>
  <script src="../../../app/services/services.js"></script>
  <script src="../../../app/mxPassport/mxPassport.js"></script>
  <script src="../../../app/app.js"></script>
  <!-- <script src="../../../../server/servedata.js"></script>  -->
</body>
</html>